<div class="feature-box alt-style col-sm-4 wow fadeIn smoothie pt-2">
    <div class="icon-box-1 match-height">
        <i class="fa-4x icon_star smoothie"><a href="#">Details</a></i>
        <div class="content-area">
            <h3 class="title">QUALITE</h3>                                            
            <div class="content py-2 text_justify">Collaboratively engage just in time human capital for intermandated niche markets.</div>
        </div>
    </div>
</div>
<div class="feature-box alt-style col-sm-4 wow fadeIn smoothie pt-2">
    <div class="icon-box-1 match-height">
        <i class="fa-4x icon_adjust-horiz smoothie"><a href="#">Details</a></i>
        <div class="content-area">
            <h3 class="title">CHOIX</h3>                                            
            <div class="content py-2 text_justify">Competently exploit efficient manufactured products for vertical channels. </div>
        </div>
    </div>
</div>
<div class="feature-box alt-style col-sm-4 wow fadeIn smoothie  pt-2">
    <div class="icon-box-1 match-height">
        <i class="fa-4x icon_gift_alt smoothie"><a href="#">Details</a></i>
        <div class="content-area">
            <h3 class="title">PLAISIR</h3>                                            
            <div class="content py-2 text_justify">ollaboratively engage just in time human capital for intermandated niche markets.</div>
        </div>
    </div>
</div>
