<header id="home" class="backstretched fullheight max-600 ">
    <div class="dark-overlay fullheight">
        <div class="container fullheight">                   
            <div class="jumbotron">
                <div class="row ">
                    <div class="col-sm-11 col-xs-12">
                        <h1><small>Bienvenue chez</small><br>
                        Flavie Crochette</h1>
                        <div>
                            <a class="btn btn-white btn-lg page-scroll" href="#contact" role="button">Contact</a> 
                            <a class="btn btn-lg btn-primary page-scrol" href="<%= articles_path %>" role="button">Portfolio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
