<div class="item match-height nopaddingleftright">
    <div class="hover-effect smoothie">
        <a href="#" class="smoothie">
        <%= image_tag image_path, class: "img-responsive smoothie" %></a>
        <div class="hover-overlay smoothie text-center">
            <div class="vertical-center-js">
                <h4><%= title %></h4>
            </div>
        </div>
        <div class="hover-caption dark-overlay smoothie text-center">
            <div class="vertical-center-js">
                <p class="mb60"><small><%= short_description%></small></p>
                <a href="<%= link %>" class="btn btn-primary btn-green">voir</a>
            </div>
        </div>
    </div>
</div>