<div class="container col-12 dark-wrapper text-center p-3 my-4">
  <h3 class="section-title"> <%= title %> </h3>
  <p class="my-1 section-sub-title"> <%= subtitle %>  </p>

  <% if isAdmin? %>
  <div class="text-right mt-3">
    <a class="btn btn-sm btn-primary page-scrol " href="<%= new_admin_event_path %>" role="button"> Nouveau </a>
  </div>
  <% end %>
  
</div>