<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m background-cover" style="background-image: url(<%= image_path(image)%>);">
  <h2 class="l-text2 t-center text-dark">
    <%= title %>
  </h2>
</section>