
<div class="leftbar p-r-20 p-r-0-sm">

  <!--CATEGORIES-->
  <h4 class="m-text14 p-b-7 p-t-20">
    Catégories
  </h4>

  <ul class="p-b-25">
    <li class="p-t-4">
      <a href="#" class="s-text13 active1 text-danger">
         <i class="fa fa-angle-right"></i> Tous
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Poupées crochet
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Poupées en tissu
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Accessoires enfants
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Accessoires adultes
      </a>
    </li>
  </ul>

  <!--  -->
  <h4 class="m-text14 p-b-7">
    Autres filtres
  </h4>
  <ul class="p-b-54">
    <li class="p-t-4">
      <a href="#" class="s-text13 active1 text-danger">
        <i class="fa fa-angle-right"></i> Tous
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Poupées et accessoires en vente
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Poupées et accessoires à commander
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Patron disponibles
      </a>
    </li>

    <li class="p-t-4">
      <a href="#" class="s-text13">
        <i class="fa fa-angle-right"></i> Kits disponibles
      </a>
    </li>
  </ul>

</div>
