<div class="container-fluid col-md-6 background-cover m-t-30 m-b-30" style="background-image: url(<%= image_path '404.jpg'%>); height: 600px">
  <div class="text-center vertical-center-js ">
    <div class=" bg-light rounded">
      <h2 class="text-uppercase font-weight-bold py-4">Page introuvable !</h2>
      <p> <%= link_to 'Retour', :back, class: "btn btn-danger mb-4 " %> </p>
    </div>
  </div>
</div>
