<!-- Block4 -->
<div class="block4 wrap-pic-w my-3" >
    <img style="height: 250px;" src="<%= image_path(image)%>" alt="IMG-STEP">

    <a href="#" class="block4-overlay sizefull ab-t-l trans-0-4">
        <span class="block4-overlay-heart s-text9 flex-m trans-0-4 p-l-40 p-t-25">
            <!-- Other text capability here -->
        </span>

        <div class="block4-overlay-txt trans-0-4 p-l-10 p-r-10 p-b-10">
            <p class="s-text10 m-b-15 h-size1 of-hidden">
                <%= description %>
            </p>

            <span class="s-text9">
                <%= title %>
            </span>
        </div>
    </a>
</div>